.container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px 1fr 1fr;
    grid-gap:10px;
    width: 960px;
    margin: 0 auto;
    background: lightblue;
    height: 500px;
    color: black;
    margin-top: 100px;
}

.header{
    grid-column:1/13 ;
    grid-row: 1/2;
    background: pink;
}
.main-content{
    grid-row-start: 2;
    grid-column: 3/8;
    background: yellow;
}
.sidebar{
    grid-row-start: 2;
    grid-column: span 3;
    background: orange;
}
.left, .right{
    grid-row-start: 3 ;
    grid-column: span 4;
    background: purple;
}
.left{
    grid-column: 3/span 4;
}
.right{
    grid-column: span 4;
}