/* #searchbar{
    display: flex;
    justify-content: center;
    width: 80%;
    background: white;
    border: 0.5px solid rgba(0, 0, 0, 0.8);
    border-radius: 1000px;
    left: 30%;
}
.search{
    width: 100%;
} */
body{
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}
.search{
    background: #ffff;
    border: 0.5px solid rgba(0, 0, 0, 0.08);
    box-shadow: 0 3px 10px rgb(0 0 0 / 10%);
    transform: translate3d(0,0,0);
    padding: 14px 24px 0 24px;
    border-radius: 1000px;
    display: block;
    margin-top:13px;
    margin-left: 11px;
}
.whereto{     
    align-items: center;
    display: flex;
    min-width: 100px;
    width: 100%;
    justify-content: space-between;

    margin-left: -6px;
    margin-top: -2px;
    
}
.searchbar{
    display: flex;
    margin: 0px;
    padding: 0px;
    padding-right: 2px;
    text-align: left;
    background: transparent;
    position: relative;
    border-width: 1px;
    border: none;
    margin-right: -1%;
}

.where{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-align: inherit;

}
#searchicon{
    padding-right: 30px;
    padding-top: 10px;
    margin-right: -17px;
}
.text{
    padding-bottom: 10px;
    width: 99%;
}
.filter{
    border: 0.2px solid rgb(0 0 0 / 10%);
    border-radius: 100px;
    background: white;
    padding: 10px;
    transform: translateY(-7px);
    margin-left: -6px;
    
    
} 
.any{
    color: slategray;
    /* overflow: hidden;
    font-family: inherit;
    font-size: 12px;
    width: 35px; */
    /* display: -webkit-inline-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical; */
}
.any p{
    white-space: nowrap; 
  max-width: 1px; 
  overflow: hidden;
  text-overflow: ellipsis; 
  
}
.search1{
    display: none;
}


@media screen and (min-width:743px) {
    
    /* .search1{
        display: flex;
        background: #ffff;
    border: 0.5px solid rgba(0, 0, 0, 0.08);
    box-shadow: 0 3px 10px rgb(0 0 0 / 10%);
    transform: translate3d(0,0,0);
    padding: 14px 24px 0 24px;
    border-radius: 1000px;
    display: block;
    margin-top:13px;
    margin-left: 11px;
    } */
    
    /* .searchbar1{
        display: flex;
    margin: 0px;
    padding: 0px;
    padding-right: 2px;
    text-align: left;
    background: transparent;
    position: relative;
    border-width: 1px;
    border: none;
    margin-right: -1%;
    } */
    /* .searchbar{
        display: flex;
        margin: 0px;
        padding: 0px;
        padding-right: 2px;
        text-align: left;
        background: transparent;
        position: relative;
        border-width: 1px;
        border: none;
        margin-right: -1%;
    } */
    .search{
        display: none;
    }
    .text1{
        display: flex;
    }
    .text1 svg{
        background: #fa0c08;
        border: none;
        border-radius: 50%;
        padding: 10px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: -4px;
    }
    .search1{
        display: flex;
        justify-content: space-around;
        margin-top:10px ;

    }
    .searchbar1{
        background: #ffff;
        margin: 0px;
    padding: 10px;
    padding-right: 2px;
    border: 0.5px solid rgba(0, 0, 0, 0.08);
    box-shadow: 0 3px 10px rgb(0 0 0 / 10%);
    border-radius: 30px;
    margin-left: -42px;
    
    }
.profile{
    display: flex;
    align-items: center;
    border: 0.5px solid rgba(0, 0, 0, 0.08);
    border-radius: 25px;
    padding: 12px;
    
}
.profile svg{
    margin-left: 3px;
}

.host{
    margin-top: 20px;
}
.global{
    margin-top: 20px;
}
.airbnb{
    margin-top: 13px;
}
/* .text1{
    margin-top: 1px;
    
} */
.text1 span {
    margin: 5px;
}
    
}