@font-face {
    font-family: font-bold;
    src: url(font/TTNorms-Bold.woff2);
}
@font-face {
    font-family: font-medium;
    src: url(font/TTNorms-Medium.woff2);
}
@font-face {
    font-family: font-regular;
    src: url(font/TTNorms-Regular.woff2);
}
*{
    margin: 0;
    padding: 0;
}
.header{
    background-image: url(https://img.cdn4dd.com/cdn-cgi/image/fit=cover,width=800,format=auto,quality=60/https://cdn.doordash.com/media/consumer/home/landing/new/hero_landing_us_mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: center center;

}
.sign{
    display: flex;
    justify-content: flex-end;
    font-family: font-medium;
    padding-right: 24px;
    padding-top: 16px;
    align-items: center;
    gap: 16px;
    
}
.signup{
    font-size: 16px;
    font-family: font-bold;
    background-color: rgb(255, 255, 255);
    color: rgb(73, 73, 73);    
    padding: 10px 16px 11px 16px;
    border-radius: 1000px;
}
.signin{
    font-size: 18px;
    font-family: font-bold;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.04ch;
    color: rgb(255, 255, 255);
}
.banner-txt{
    padding-top: 40px;
    padding-bottom: 113px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo{
    width: 56px;
    height: 32px;
    margin-bottom: 16px;
}
.doordash{
    display: none ;
}
.resto{
    font-size: 32px;
    font-family: font-bold;
    text-align: center;
    letter-spacing: -0.04ch;
    height: 80px;
    max-width: 334px;
    color: #ffff;
    line-height: 39px;
    margin-bottom: 27px;
    margin-top: -5px;
    padding-top: 2px;
}
.address{
    border: none;
    background-color: #ffff;
    width: 275px;
    max-width: 275px;
     margin-right: auto;
    margin-left: auto; 
    height: 46px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    box-shadow: rgb(214 214 214) 0px 0px 0px 1px ;
    margin-bottom: 18px;
    justify-content: space-around;
}
.address input{
    border: none;
    font-family: font-medium;
    font-size: 16px;
    width: 179px;
    height: 22px;
    line-height: 22px;
    transform: translateX(-4px);
    font-weight: 500;
}
.link-save a{
    font-family: font-medium;
    color: #ffff;
    font-size: 16px;
}
.search{
    margin-right: 10px;
    width: 24px;
    height: 24px;
    transform: translateX(5px);
    margin-left: 3px;
}
.enter{
    width: 275px;
}
.right-arrow{
    margin-right: 6px;
    width: 24px;
    height: 24px;
    transform: translateX(5px);
}
.location{
    display: none;
}

 @media screen and (min-width:768px) {
    .search{
        display: none;
    }
    .location{
        display: flex;
        margin-right: 5px;
        margin-left: 2px;
        transform: translateX(-1px);
    }
    .address{
        width: 406px;
        max-width: 406px;
        margin-inline: auto;
        transform: translateX(-66px);
        border-radius: 32px;
    }
    .address input{
        width: 318px;
    }
    .right-arrow{
        transform: translateX(6px);
    }
}
@media screen and (min-width:960px) {
    .doordash{
        display: flex;
        width: 155px;
        height: 18px;
        margin-left: 12px;
    }
    .doordash-logo{
        display: flex;
        align-items: center;
        position: absolute;
        top: 16px;
    }
    .logo{
        width: 42px;
        height: 24px;
        margin-bottom: 0;
    }
    .banner{
        position: relative;
    }
    .resto{
        font-size: 64px;
        max-width: 668px;
        height: 152px;
        line-height: 76px;
        margin-top: 40px;
        margin-bottom: 33px;
    }
    .banner-txt{
        padding-bottom: 175px;
    }
}
.white-arrow{
    display: none
}
@media screen and (min-width:1184px) {
    .right-arrow{
        display: none;
    }
    .white-arrow{
        display:flex ;
        
    
        
    }
    .arrow-container{
        width: 40px;
        height: 40px;
        border-radius: 50%; 
        background-color: #eb1700;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .location{
        margin-left: 4px;
        margin-right: 7px;
    }
    .address input{
        transform: translateX(-4px);
    }
}
.list{
    max-width: 364.17px;
    width: 364.17px;
    margin-inline: auto;
    height: 148px;
    padding: 24px 0px;
    margin-top: 8px;
}
.experience{
    font-family: font-bold;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.04ch;
    display: flex;
    width: 160px;
    justify-content: space-evenly;
    transform: translateX(-2px);
}
.app-link{
    font-family: font-bold;
    font-size: 16px;
    color: #ffff;
    background-color: #eb1700;
    white-space: nowrap;
    border-radius: 50px;
     padding: 11px 16px; 
     transform: translateX(0px);
}
.dasher{
    font-family: font-bold;
    font-size: 16px;
    display: flex;
    align-items: center;
    letter-spacing: -0.04ch;
    padding: 0 2px;
    transform: translateX(-4px);
}
.merchant{
    font-family: font-bold;
    font-size: 16px;
    display: flex;
    align-items: center;
    letter-spacing: -0.04ch;
    padding: 0 2px;
    transform: translateX(-2px);
}
.quotes{
    display: flex;
    justify-content: space-around;
    padding-bottom: 15px;
}
.links{
    display: flex;
    justify-content: space-evenly;
}
.links svg{
    transform: translateX(5px);
}
.shopping{
    padding: 8px;
    transform: translateY(-18px);
    margin-bottom: 40px;
}
.delivery{
    display: flex;
    padding: 16px;
    margin-bottom: 4px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}
.delivery-boy img{
    width: 88px;
    height: 88px;
    margin-right: 32px;
}
.delivery-dasher h2{
   font-family: font-bold;
   font-weight: 700;
   line-height: 40px;
   color: rgb(25, 25, 25);
   text-align: left;
   letter-spacing: -0.04ch;
   font-size: 32px;
}
.delivery-dasher h3{
    font-family: font-medium;
    font-size: 18px;
    line-height: 24px;
    color: #191919;
    text-align: left;
    font-weight: 500;
}
.delivery-dasher button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 12px 0px 0px;
    transform: translateY(2px);
}
.delivery-dasher button span{
    color: #eb1700;
    font-family: font-bold;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -0.04ch;
    margin-right: 2px;
}
.delivery-dasher button svg{
  width: 10px;
  transform: translateX(5px);
}
@media screen and (min-width:768px) {
    .delivery{
        max-width: 439px;
        margin-inline: auto;
    }
    .delivery-boy img{
        width: 124px;
        height: 124px;
    }
    .delivery-boy{
        margin-right: 33px;
    }
    .shopping{
        transform: translateY(-24px);
    }
}
@media screen and (min-width:1184px) {
    .shopping{
        display: flex;
        max-width: 1184px;
        margin-inline: auto;
        padding-top: 51px ;
        transform: translateX(-29px);
    }
    .delivery{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .delivery-dasher{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .delivery-boy img{
        width: 154px;
        height: 154px;
    }
    .delivery-boy{
        margin-right: 0px;
    }
    .delivery-dasher h3{
        text-align: center;
    }
}
.first-image{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 12px;
}
.first-image img{
    width: 80%;
    max-width: 500px;
 
}
.first-image-txt{
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-left: 9%;
    padding-right: 67px;
    max-width: 316px;
}
.txt-one{
    font-size: 24px;
    font-weight: 700;
    font-family: font-bold;
    line-height: 32px;
    letter-spacing: -0.04ch;
    color: rgb(25, 25, 25);
}
.txt-two{
    font-size: 14px;
    font-family: font-medium;
    font-weight: 500;
    line-height: 20px;
    color: rgb(25, 25, 25);
}
.txt-three{
    width: 101px;
    border: none;
    background-color: #eb1700;
    color: #ffff;
    font-family: font-bold;
    font-size: 14px;
    border-radius: 1000px;
    padding: 11px;
}
.second-image{
    display: flex;
    margin-bottom: 12px;
}
.second-image img{
    width: 80%;
    max-width: 500px;
}
.second-image-txt{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-left: 9%;
    padding-right: 89px;
    max-width: 400px;
}
.second-image-card{
    padding-top: 293px;
    margin-top: -254px;
    background-color: #fff0ed;
    padding-bottom: 96px;
}
.flavor-one{
    font-size: 24px;
    font-weight: 700;
    font-family: font-bold;
    line-height: 32px;
    letter-spacing: -0.04ch;
    color: rgb(25, 25, 25);
}
.flavor-two{
    font-size: 14px;
    font-family: font-medium;
    font-weight: 500;
    line-height: 20px;
    color: rgb(25, 25, 25);
}
.flavor-three{
    width: 132px;
    white-space: nowrap;
    border: none;
    background-color: #eb1700;
    color: #ffff;
    font-family: font-bold;
    font-size: 14px;
    border-radius: 1000px;
    padding: 9px;
}
@media screen and (min-width:768px) {
    .first-image-card{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        max-width: 1184px;
        margin-inline: auto;
    }
    .first-image{
        display: flex;
        justify-content: flex-end;
     
    }
    .first-image img{
        width: 90%;
        max-width: 100%;
    }
    .second-image-card{
        display: flex;
        margin-top: -33px;
        padding-top: 158px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1184px;
        margin-inline: auto;
    }
    .second-image{
        display: flex;
        justify-content: flex-end;
        
    }
    .second-image img{
        width: 100%;
        max-width: 100%;
    }
}
@media screen and (min-width:1184px) {
    .first-image-txt{
        margin-left: 0;
    }
    .txt-one{
        font-size: 40px;
    }
    .txt-two{
        font-size: 18px;
        line-height: 24px;
        font-weight: 500;
        color: rgb(25, 25, 25);
    }
    .txt-three{
        font-size: 16px;
        width: 120px;
    }
    .flavor-one{
        font-size: 40px;
    }
    .flavor-two{
        font-size: 18px;
        line-height: 24px;
        font-weight: 500;
        color: rgb(25, 25, 25);
    }
    .flavor-three{
        font-size: 16px;
        width: 140px;
    }
    .flavor-section{
        background-color: #fff0ed;
    }
}
footer span{
    display: block;
}
footer{
    background-color: rgb(25, 25, 25);
    padding-bottom: 12px;
}
.cities-cuisines h2{
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    font-family: font-medium;
    margin-bottom: 5px;
    color: rgb(255, 255, 255);
}
.cities-cuisines span{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: rgb(196, 196, 196);
    font-family: font-medium;
    margin-bottom: 5px;
}
.cities-cuisines{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 36px;
    padding-top: 31px;
    justify-content: center;
    padding-bottom: 24px;
}
.cities{
    text-align: center;
}
.app-leads{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
}
.app-store{
    background-color: #494949;
    margin-bottom: 12px;
    border-radius: 6px;
    opacity: 0.7;
}
.play-store{
    background-color: #494949;
    border-radius: 6px;
    opacity: 0.7;
}
.leads h2{
    font-size: 16px;
    font-family: font-medium;
    color: #ffff;
    margin-bottom: 12px;
}
.know-more{
    text-align: center;
}
.help{
    text-align: center;
}
.business{
    text-align: center;
}
.leads span{
    color: #c4c4c4;
    font-family: font-medium;
    font-size: 14px;
    margin-bottom: 12px;
}
.medias{
    text-align: center;
    margin-bottom: 12px;
}
.leads{
    margin-bottom: 24px;
}
.copyright span{
    color: #c4c4c4;
    font-size: 12px;
    line-height: 18px;
    font-family: font-regular;
    margin-left:12px ;
}
.copyright p{
    color: #c4c4c4;
    font-size: 12px;
    line-height: 18px;
    font-family: font-regular;
    margin-left:12px ;
}
.copyright{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
@media screen and (min-width:768px) {
   .cities-cuisines{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    padding-top: 32px;
   } 
   .cities h2{
    text-align: left;
    margin-bottom: 17px;

   }
   .america{
    display: flex;
    gap: 20%;
    text-align: left;
    
   }
   
   .cuisines h2{
    text-align: left;
    margin-bottom:14px ;
   }
   .food{
    display: flex;
    gap: 30%;
   }
   .cities-cuisines span{
    margin-bottom: 12px;
   }
   .cuisines{
    text-align: left;
    margin-bottom: 32px;
   }
   .footer-list{
    display: flex;
    margin-left: 20px;
    justify-content: space-between;
    margin-right: 20px;
   }
   .know-more{
    text-align: left;
   }
   .help{
    text-align: left;
   }
   .business{
    text-align: left;
   }
   .social-copyright{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-right: 20px;
    margin-left: 20px;
   }
   .app-leads{
    margin-bottom: 32px;
   }
}
@media screen and (min-width:960px) {
    .cities-cuisines{
        display: flex;
        flex-direction: row;
        gap: 20%;
        justify-content: flex-start;
    }
    .cities{
        white-space: nowrap;
    }
    .cuisines{
        white-space: nowrap;
    }
    .leads{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-right:35px;

    }
    .footer-list{
        gap: 10%;
        white-space: nowrap;
    }
    footer{
        max-width: 1184px;
        margin-inline: auto;
    }
    .last-section{
        background-color: rgb(25, 25, 25);
    }
}
.cities-cuisines span:hover {
    cursor: pointer;
    text-decoration: underline;
}
.footer-list span:hover{
    cursor: pointer;
    text-decoration: underline;
}
.copyright span:hover{
    cursor: pointer;
    text-decoration: underline;
}
.app-store:hover{
    cursor: pointer;
    opacity: 1;
}
.play-store:hover{
    opacity: 1;
}