@font-face {
    font-family: font-bold;
    src: url(font/TTNorms-Bold.woff2);
}
@font-face {
    font-family: font-medium;
    src: url(font/TTNorms-Medium.woff2);
}
@font-face {
    font-family: font-regular;
    src: url(font/TTNorms-Regular.woff2);
}
*{
    margin: 0;
    padding: 0;
}
.header{
    background-image: url(https://img.cdn4dd.com/cdn-cgi/image/fit=cover,width=800,format=auto,quality=60/https://cdn.doordash.com/media/consumer/home/landing/new/hero_landing_us_mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: center center;

}
.sign{
    display: flex;
    justify-content: flex-end;
    font-family: font-medium;
    padding-right: 24px;
    padding-top: 16px;
    align-items: center;
    gap: 16px;
    
}
.signup{
    font-size: 16px;
    font-family: font-bold;
    background-color: rgb(255, 255, 255);
    color: rgb(73, 73, 73);    
    padding: 10px 16px 11px 16px;
    border-radius: 1000px;
}
.signin{
    font-size: 18px;
    font-family: font-bold;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.04ch;
    color: rgb(255, 255, 255);
}
.banner-txt{
    padding-top: 40px;
    padding-bottom: 113px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo{
    width: 56px;
    height: 32px;
    margin-bottom: 16px;
}
.doordash{
    display: none ;
}
.resto{
    font-size: 32px;
    font-family: font-bold;
    text-align: center;
    letter-spacing: -0.04ch;
    height: 80px;
    max-width: 334px;
    color: #ffff;
    line-height: 39px;
    margin-bottom: 27px;
    margin-top: -5px;
    padding-top: 2px;
}
.address{
    border: none;
    background-color: #ffff;
    width: 275px;
    max-width: 275px;
     margin-right: auto;
    margin-left: auto; 
    height: 46px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    box-shadow: rgb(214 214 214) 0px 0px 0px 1px ;
    margin-bottom: 18px;
    justify-content: space-around;
}
.address input{
    border: none;
    font-family: font-medium;
    font-size: 16px;
    width: 179px;
    height: 22px;
    line-height: 22px;
    transform: translateX(-4px);
    font-weight: 500;
}
.link-save a{
    font-family: font-medium;
    color: #ffff;
    font-size: 16px;
}
.search{
    margin-right: 10px;
    width: 24px;
    height: 24px;
    transform: translateX(5px);
    margin-left: 3px;
}
.enter{
    width: 275px;
}
.right-arrow{
    margin-right: 6px;
    width: 24px;
    height: 24px;
    transform: translateX(5px);
}
.location{
    display: none;
}

 @media screen and (min-width:768px) {
    .search{
        display: none;
    }
    .location{
        display: flex;
        margin-right: 5px;
        margin-left: 2px;
        transform: translateX(-1px);
    }
    .address{
        width: 406px;
        max-width: 406px;
        margin-inline: auto;
        transform: translateX(-66px);
        border-radius: 32px;
    }
    .address input{
        width: 318px;
    }
    .right-arrow{
        transform: translateX(6px);
    }
}
@media screen and (min-width:960px) {
    .doordash{
        display: flex;
        width: 155px;
        height: 18px;
        margin-left: 12px;
    }
    .doordash-logo{
        display: flex;
        align-items: center;
        position: absolute;
        top: 16px;
    }
    .logo{
        width: 42px;
        height: 24px;
        margin-bottom: 0;
    }
    .banner{
        position: relative;
    }
    .resto{
        font-size: 64px;
        max-width: 668px;
        height: 152px;
        line-height: 76px;
        margin-top: 40px;
        margin-bottom: 33px;
    }
    .banner-txt{
        padding-bottom: 175px;
    }
}
.white-arrow{
    display: none
}
@media screen and (min-width:1184px) {
    .right-arrow{
        display: none;
    }
    .white-arrow{
        display:flex ;
        
    
        
    }
    .arrow-container{
        width: 40px;
        height: 40px;
        border-radius: 50%; 
        background-color: #eb1700;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .location{
        margin-left: 4px;
        margin-right: 7px;
    }
    .address input{
        transform: translateX(-4px);
    }
}
.list{
    max-width: 364.17px;
    width: 364.17px;
    margin-inline: auto;
    height: 148px;
    padding: 24px 0px;
    margin-top: 8px;
}
.experience{
    font-family: font-bold;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.04ch;
    display: flex;
    width: 160px;
    justify-content: space-evenly;
    transform: translateX(-2px);
}
.app-link{
    font-family: font-bold;
    font-size: 16px;
    color: #ffff;
    background-color: #eb1700;
    white-space: nowrap;
    border-radius: 50px;
     padding: 11px 16px; 
     transform: translateX(0px);
}
.dasher{
    font-family: font-bold;
    font-size: 16px;
    display: flex;
    align-items: center;
    letter-spacing: -0.04ch;
    padding: 0 2px;
    transform: translateX(-4px);
}
.merchant{
    font-family: font-bold;
    font-size: 16px;
    display: flex;
    align-items: center;
    letter-spacing: -0.04ch;
    padding: 0 2px;
    transform: translateX(-2px);
}
.quotes{
    display: flex;
    justify-content: space-around;
    padding-bottom: 15px;
}
.links{
    display: flex;
    justify-content: space-evenly;
}
.links svg{
    transform: translateX(5px);
}
.shopping{
    padding: 8px;
    transform: translateY(-18px);
}
.delivery{
    display: flex;
    padding: 16px;
    margin-bottom: 4px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}
.delivery-boy img{
    width: 88px;
    height: 88px;
    margin-right: 32px;
}
.delivery-dasher h2{
   font-family: font-bold;
   font-weight: 700;
   line-height: 40px;
   color: rgb(25, 25, 25);
   text-align: left;
   letter-spacing: -0.04ch;
   font-size: 32px;
}
.delivery-dasher h3{
    font-family: font-medium;
    font-size: 18px;
    line-height: 24px;
    color: #191919;
    text-align: left;
    font-weight: 500;
}
.delivery-dasher button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 12px 0px 0px;
    transform: translateY(2px);
}
.delivery-dasher button span{
    color: #eb1700;
    font-family: font-bold;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -0.04ch;
    margin-right: 2px;
}
.delivery-dasher button svg{
  width: 10px;
  transform: translateX(5px);
}
@media screen and (min-width:768px) {
    .delivery{
        max-width: 439px;
        margin-inline: auto;
    }
    .delivery-boy img{
        width: 124px;
        height: 124px;
    }
    .delivery-boy{
        margin-right: 33px;
    }
    .shopping{
        transform: translateY(-24px);
    }
}
@media screen and (min-width:1184px) {
    .shopping{
        display: flex;
        max-width: 1184px;
        margin-inline: auto;
        padding-top: 51px ;
        transform: translateX(-29px);
    }
    .delivery{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .delivery-dasher{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .delivery-boy img{
        width: 154px;
        height: 154px;
    }
    .delivery-boy{
        margin-right: 0px;
    }
    .delivery-dasher h3{
        text-align: center;
    }
}
.first-image-card img{
    width: 100%;
    height: 100%;
    right: 0;
    position: relative;
}
.second-image-card img{
    width: 100%;
    height: 100%;
    padding-top: 500px;
    
}
.first-image-txt{
    display: flex;
    flex-direction: column;
    flex-flow: column nowrap;
    justify-content: center;
    box-sizing: border-box;
    margin-top: 20px;
}
.second-image-txt{
    display: flex;
    flex-direction: column;
}
.second-image-card{
    background-color: #fff0ed;
    margin-top: -300px;

}
.first-image{
    margin-left: 64px;
    display: block;
}
